---
  openapi: 3.0.1
  info:
    title: Qolo API
    version: v1
    description: Qolo API Documentation site
    x-logo:
      url: https://devapi2.qolopay.com/qolo_logo.png
      backgroundColor: "#FFFFFF"
      altText: Qolo API
  servers:
  - url: https://devapi2.qolopay.com
  paths:
    "/api/{version}/account_instruments":
      post:
        tags:
        - AccountInstruments
        summary: Create AccountInstrument
        description: Create a AccountInstrument for account on Qolo platform.
        operationId: CreateAccountInstrument
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateAccountInstrumentRequest"
        responses:
          '201':
            description: Returns the newly created AccountInstrument
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/AccountInstrumentDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Account not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/account_instruments/{account_instrument_guid}":
      get:
        tags:
        - AccountInstruments
        summary: Retrieve AccountInstrument
        description: Use this end point to retrieve or find a specific account instrument
          by guid
        operationId: GetAccountInstrumentById
        parameters:
        - name: account_instrument_guid
          in: path
          description: ''
          required: true
          schema:
            type: string
            description: ''
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the Account Instrument with account details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/AccountInstrumentDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Account Instrument not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/accounts":
      get:
        tags:
        - Accounts
        summary: Search Accounts
        description: Returns one or more accounts based on the search criteria.
        operationId: SearchAccount
        parameters:
        - name: person_guid
          in: query
          description: person guid
          schema:
            type: string
            description: person guid
            format: uuid
        - name: wallet_guid
          in: query
          description: wallet guid
          schema:
            type: string
            description: wallet guid
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the list of accounts
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/AccountDTOSearchResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      post:
        tags:
        - Accounts
        summary: Create Account
        description: Create a account for person on Qolo platform by passing wallet_guid
          or wallet id.
        operationId: CreateAccount
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateAccountRequest"
        responses:
          '201':
            description: Returns the newly created Account
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/AccountDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Wallet not found
          '500':
            description: Server Error
    "/api/{version}/accounts/{account_guid}":
      get:
        tags:
        - Accounts
        summary: Retrieve account
        description: Use this end point to retrieve or find a specific account based
          on the Account GUID.
        operationId: GetAccountById
        parameters:
        - name: account_guid
          in: path
          description: ''
          required: true
          schema:
            type: string
            description: ''
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the Account with balance details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/AccountDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Account not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      put:
        tags:
        - Accounts
        summary: Update Account
        description: "Update Account\r\nFields supported:\r\n<li>account_name</li>"
        operationId: UpdateAccount
        parameters:
        - name: account_guid
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json-patch+json:
              schema:
                "$ref": "#/components/schemas/UpdateAccountInfoRequest"
            application/json:
              schema:
                "$ref": "#/components/schemas/UpdateAccountInfoRequest"
            text/json:
              schema:
                "$ref": "#/components/schemas/UpdateAccountInfoRequest"
            application/*+json:
              schema:
                "$ref": "#/components/schemas/UpdateAccountInfoRequest"
        responses:
          '200':
            description: Returns the updated Account
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/AccountDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/accounts/{account_guid}/status":
      post:
        tags:
        - Accounts
        summary: Status Account
        description: Call this API end point to change the status of an account, identified
          by account guid
        operationId: StatusAccount
        parameters:
        - name: account_guid
          in: path
          description: account guid
          required: true
          schema:
            type: string
            description: account guid
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: account status request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountStatusUser"
        responses:
          '200':
            description: Returns the account details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/AccountDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Account not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/accounts/AdjustBalance":
      post:
        tags:
        - Accounts
        summary: Adjust Balance
        description: "Adjust Balance API fetches the program funding account and adjusts
          balance for an account_guid and requestcode provided . \r\nThis API will be
          used by the portal"
        operationId: AdjustBalance
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AdjustBalanceRequest"
        responses:
          '201':
            description: Returns the newly created Wallet
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/AdjustBalanceResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Wallet not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/accounts/sharedaccount":
      post:
        tags:
        - Accounts
        summary: Create Shared Account
        description: Share an account with a seperate person.
        operationId: CreateSharedAccount
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateSharedAccountRequest"
        responses:
          '201':
            description: Returns the newly shared Account
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CreateSharedAccountResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Wallet not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/accounts/updatesharedaccount":
      post:
        tags:
        - Accounts
        summary: Update Shared Account
        description: Update Shared Account
        operationId: UpdateSharedAccount
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UpdateSharedAccountRequest"
          required: true
        responses:
          '200':
            description: Returns updated shared information
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/AccountSharedPersonDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/advances/{account_guid}/precalc":
      get:
        tags:
        - Advances
        summary: Advance PreCalc
        description: Advance PreCalc
        operationId: AdvancePreCalc
        parameters:
        - name: account_guid
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AdvancePreCalcRequest"
        responses:
          '201':
            description: Returns the Advance PreCalc Details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/AdvancePreCalcResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Account not found
          '500':
            description: Server Error
    "/api/{version}/advances/{account_guid}":
      post:
        tags:
        - Advances
        summary: Apply Advance
        description: Apply Advance
        operationId: ApplyAdvance
        parameters:
        - name: account_guid
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApplyAdvanceRequest"
        responses:
          '201':
            description: Applies the advance associated with the request_id
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ApplyAdvanceResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Account not found
          '500':
            description: Server Error
    "/api/{version}/advances/{account_guid}/cycle":
      post:
        tags:
        - Advances
        summary: Change Advance Cycle
        description: Change the cycle of the advance
        operationId: ChangeCycle
        parameters:
        - name: account_guid
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ChangeAdvanceCycleRequest"
        responses:
          '201':
            description: Changes the cycle of the advance
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ChangeAdvanceCycleResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Account not found
          '500':
            description: Server Error
    "/api/{version}/batchfiles":
      post:
        tags:
        - BatchFiles
        summary: Create Batchfile for Disbursement
        description: Create Batchfile with source document in base64 encoding
        operationId: Batchfiles
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BatchfileRequest"
        responses:
          '200':
            description: Returns batchfile_guid
          '201':
            description: Success
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/BatchfileResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Report name not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/batchfiles/Download":
      post:
        tags:
        - BatchFiles
        summary: Download Batchfile
        description: Download File by Batchfile and Program Guid
        operationId: DownloadBatchfile
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BatchfileDownloadRequest"
        responses:
          '200':
            description: Returns the batchfile as attachment
            content:
              application/json:
                schema:
                  type: string
                  format: binary
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Batchfile not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/bulkorders":
      post:
        tags:
        - BulkOrder
        summary: Create Bulk Orders
        description: Create a person and a bulk order on Qolo platform. If the person
          is already created, send an existing Person GUID.
        operationId: CreateBulkOrder
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkOrderRequest"
        responses:
          '201':
            description: Returns the newly bulkorder
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/BulkOrderResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Program not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      get:
        tags:
        - BulkOrder
        summary: Retrieve Bulk Orders
        description: Use this end point to display bulk order details
        operationId: GetOrderDetail
        parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
        - name: start_index
          in: query
          schema:
            type: integer
            format: int32
        - name: order_guid
          in: query
          description: order guid
          schema:
            type: string
            description: order guid
            format: uuid
        - name: package_guid
          in: query
          description: package guid
          schema:
            type: string
            description: package guid
            format: uuid
        - name: person_guid
          in: query
          schema:
            type: string
            format: uuid
        - name: company_guid
          in: query
          schema:
            type: string
            format: uuid
        - name: start_search_date
          in: query
          description: start search date
          schema:
            type: string
            description: start search date
            format: date-time
        - name: end_search_date
          in: query
          description: end search date
          schema:
            type: string
            description: end search date
            format: date-time
        - name: bulk_order_status
          in: query
          description: bulk order status- PENDING,CREATED,CANCELLED,SHIPPED
          schema:
            type: string
            description: bulk order status- PENDING,CREATED,CANCELLED,SHIPPED
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the bulk order details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/BulkOrdersSearchResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Order not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      put:
        tags:
        - BulkOrder
        summary: Cancel Bulk Orders
        description: This end point will allow you to cancel a bulk order on the Qolo
          platform.
        operationId: CancelBulkOrder
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkOrderReq"
        responses:
          '200':
            description: Returns the bulk order details for the cancelled order
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/BulkOrderDetail"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/bulkorders/CheckinBulkOrder":
      put:
        tags:
        - BulkOrder
        summary: Checkin Bulk Orders
        description: This end point will allow you to checkin a bulk order on the Qolo
          platform.
        operationId: CheckinBulkOrder
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkOrderReq"
        responses:
          '200':
            description: Returns the updated Person
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/BulkOrderDetail"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/bulkorders/BulkOrderSummaryByLocation":
      get:
        tags:
        - BulkOrder
        summary: Bulk Orders Summary By Location
        description: Use this end point to display inventory summary details
        operationId: GetBulkOrderSummaryByLocation
        parameters:
        - name: person_guid
          in: query
          description: person guid
          schema:
            type: string
            description: person guid
            format: uuid
        - name: company_guid
          in: query
          description: company guid
          schema:
            type: string
            description: company guid
            format: uuid
        - name: limit
          in: query
          description: limit
          schema:
            type: integer
            description: limit
            format: int32
        - name: start_index
          in: query
          description: start index
          schema:
            type: integer
            description: start index
            format: int32
            default: 1
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the bulk order summary
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/BulkOrderSummarySearchResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Order not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/cards":
      get:
        tags:
        - Cards
        summary: Search Cards
        description: Retrieve list of cards based on search criteria.
        operationId: SearchCard
        parameters:
        - name: person_guid
          in: query
          description: person guid
          schema:
            type: string
            description: person guid
            format: uuid
        - name: wallet_guid
          in: query
          description: wallet guid
          schema:
            type: string
            description: wallet guid
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the Card
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CardDTOSearchResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      post:
        tags:
        - Cards
        summary: Create Card
        description: Create a person and a card on Qolo platform. If the person is already
          created, send an existing Person GUID.
        operationId: CreateCard
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateCardRequest"
        responses:
          '201':
            description: Returns the newly created Card
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CreateCardResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Program not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/cards/{card_proxy}":
      get:
        tags:
        - Cards
        summary: Retrieve Card
        description: Returns specific card details based on the given proxy.
        operationId: GetCardById
        parameters:
        - name: card_proxy
          in: path
          description: card proxy
          required: true
          schema:
            type: string
            description: card proxy
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the Card
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CardDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/cards/{card_proxy}/fulfillmentdata":
      get:
        tags:
        - Cards
        summary: Show card fulfillment data
        description: "Returns fulfillment data for specific card if a valid identifier
          was provided.\r\nTrack1, track2, cvx2 and pin are some important fields returned
          in this API\r\nPCI DSS compliance is required to use this API."
        operationId: GetFulfillmentData
        parameters:
        - name: card_proxy
          in: path
          description: ''
          required: true
          schema:
            type: string
            description: ''
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the fulfillment data
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/EncryptedFulfillmentDetails"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/cards/{card_proxy}/showpan":
      get:
        tags:
        - Cards
        summary: Show card PAN
        description: "Returns PAN, cvv and expiraton date for specific card if a valid
          identifier was provided. \r\nPCI DSS compliance is required to use this API."
        operationId: GetPANById
        parameters:
        - name: card_proxy
          in: path
          description: ''
          required: true
          schema:
            type: string
            description: ''
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the Card
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CardDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/cards/assign":
      post:
        tags:
        - Cards
        summary: Assign Card
        description: Assign an instant issue or anonymous card to a Person.
        operationId: AssignCard
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AssignCardDTO"
        responses:
          '200':
            description: Returns the newly assigned Card
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/AssignCardDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
          '500':
            description: Server Error
    "/api/{version}/cards/{card_proxy}/activate":
      post:
        tags:
        - Cards
        summary: Activate Card
        description: Activate a newly issued card. This API must be called in response
          to an activation request by the cardholder.
        operationId: ActivateCard
        parameters:
        - name: card_proxy
          in: path
          description: ''
          required: true
          schema:
            type: string
            description: ''
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CardStatusDTO"
        responses:
          '200':
            description: Returns the card details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CardDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/cards/{card_proxy}/status":
      post:
        tags:
        - Cards
        summary: Status Card
        description: Call this API end point to change the status of a card, identified
          by card proxy.
        operationId: StatusCard
        parameters:
        - name: card_proxy
          in: path
          description: card proxy
          required: true
          schema:
            type: string
            description: card proxy
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: card status request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CardStatusDTO"
        responses:
          '200':
            description: Returns the card details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CardDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/cards/validate":
      post:
        tags:
        - Cards
        summary: Validate Card
        description: Validate a card using card number and cvv.
        operationId: ValidateCard
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ValidateCardDTO"
        responses:
          '200':
            description: Returns the card details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CardDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/cards/{card_proxy}/pin":
      post:
        tags:
        - Cards
        summary: Set PIN
        description: Call this API end point to change the PIN of a card, identified
          by card proxy.
        operationId: SetPIN
        parameters:
        - name: card_proxy
          in: path
          description: card proxy
          required: true
          schema:
            type: string
            description: card proxy
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: card PIN request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CardPINDTO"
        responses:
          '200':
            description: Returns the card details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CardPINDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      get:
        tags:
        - Cards
        summary: Get PIN
        description: Call this API end point to get the PIN of a card, identified by
          card proxy.
        operationId: GetPIN
        parameters:
        - name: card_proxy
          in: path
          description: card proxy
          required: true
          schema:
            type: string
            description: card proxy
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the card details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CardPINDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/cards/{card_proxy}/replace":
      post:
        tags:
        - Cards
        summary: Replace Card
        description: Call this API end point to replace a card, identified by card proxy.
        operationId: ReplaceCard
        parameters:
        - name: card_proxy
          in: path
          description: card proxy
          required: true
          schema:
            type: string
            description: card proxy
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: replace card request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ReplaceCardRequest"
        responses:
          '200':
            description: Returns the newly created Card
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ReplaceCardResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
          '500':
            description: Server Error
    "/api/{version}/cards/{card_proxy}/personcardstatus":
      post:
        tags:
        - Cards
        summary: Status Person Card Status
        description: Call this API end point to change the person card status of a card,
          identified by card proxy.
        operationId: PersonCardStatus
        parameters:
        - name: card_proxy
          in: path
          description: card proxy
          required: true
          schema:
            type: string
            description: card proxy
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: person card status request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PersonCardStatusDTO"
        responses:
          '200':
            description: Returns the card details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CardDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/cards/{card_proxy}/issuance_type":
      post:
        tags:
        - Cards
        summary: Update issuance_type
        description: Call this API end point to turn a virutal card into a plastic card,
          identified by card proxy.  Only allow Virutal to Full at this time
        operationId: IssuanceType
        parameters:
        - name: card_proxy
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IssuanceTypeRequest"
        responses:
          '200':
            description: Returns the card details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CardDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
          '500':
            description: Server Error
    "/api/{version}/companies":
      post:
        tags:
        - Companies
        summary: Create company
        description: returns new company/program created
        operationId: CreateCompany
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: create company request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateCompany"
        responses:
          '201':
            description: Returns the company/program created
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CompanyProgramDTO"
          '400':
            description: Bad Request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Not Found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/companies/{company_guid}":
      put:
        tags:
        - Companies
        summary: Update company details
        description: returns updated company
        operationId: UpdateCompanyById
        parameters:
        - name: company_guid
          in: path
          description: company guid
          required: true
          schema:
            type: string
            description: company guid
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: update company request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UpdateCompany"
        responses:
          '200':
            description: Returns the updated company
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CompanyDTO"
          '400':
            description: Bad Request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Not Found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/disbursements":
      post:
        tags:
        - Disbursements
        summary: Create Disbursement
        description: Create a new Disbursement request to create the person, account,
          instrument and move funds.
        operationId: Disbursements
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DisbursementDTO"
        responses:
          '201':
            description: Request created and queued for processing
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/DisbursementResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Account not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/disbursements/payoutoptions":
      get:
        tags:
        - Disbursements
        summary: PayOut Options
        description: Get the Disbursement PayOut options by program_guid
        operationId: GetPayOutOptions
        parameters:
        - name: program_guid
          in: query
          description: ''
          schema:
            type: string
            description: ''
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the list of disbursement payout options
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: string
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Program not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/disbursements/payoutpreference":
      get:
        tags:
        - Disbursements
        summary: Get PayOut Preference
        description: Get the Disbursement PayOut options by person_guid
        operationId: GetPayOutPreference
        parameters:
        - name: person_guid
          in: query
          description: ''
          schema:
            type: string
            description: ''
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the list of disbursement payout options
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/DisbursementPayoutPreference"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Program not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      put:
        tags:
        - Disbursements
        summary: Set PayOut Preference
        description: set the disbursement PayOut option for a person.
        operationId: UpdatePayoutOption
        parameters:
        - name: person_guid
          in: query
          description: ''
          schema:
            type: string
            description: ''
            format: uuid
        - name: payoutpreference
          in: query
          description: ''
          schema:
            "$ref": "#/components/schemas/DisbursementPayoutOptions"
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the payout preference
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/DisbursementPayoutPreference"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/fees":
      get:
        tags:
        - Fees
        summary: Get Fees
        description: Use this end point to retrieve or find fee details.
        operationId: GetFees
        parameters:
        - name: program_guid
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: request_code
          in: query
          schema:
            type: string
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the list of fees with details
            content:
              application/json:
                schema:
                  type: array
                  items:
                    "$ref": "#/components/schemas/FeesResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Program not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/fees/apply":
      post:
        tags:
        - Fees
        summary: Apply Fee
        description: Apply a fee to the source with the proceeds going into the revenue
          account
        operationId: ApplyFee
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApplyFeeRequest"
        responses:
          '201':
            description: Returns newly created fee details
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ApplyFeeResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Card not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/outside_instruments":
      get:
        tags:
        - Instruments
        summary: Search Instruments
        description: Retrieve a list of one or more external instruments.
        operationId: SearchInstrument
        parameters:
        - name: person_guid
          in: query
          schema:
            type: string
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the List of instruments
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/OutsideInstrumentDTOSearchResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Instrument not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      post:
        tags:
        - Instruments
        summary: Create Instrument
        description: "Create or Add an external instrument to Qolo platform. The external
          instrument may be a bank account or a credit/debit card or any other account
          held by another financial institution.\r\n\r\nTo add bank account use the
          following conditions <br />\r\nIf instrument_type = BANKDDA then provide an
          account_number and routing_number <br />\r\nIf instrument_type = IBAN then
          \ provide IBAN in account_number field and swiftBicCode in bank_identifier
          field <br />\r\nIf instrument_type = BBAN then  provide account_number ,  swiftBicCode
          in bank_identifier field (if applicable) <br />\r\nand additional rounting
          info in routing_number field <br />\r\n\r\nQolo also blocks transfers to certain
          countries and you will not be able to add the bank accounts / cards from the
          blocked countries."
        operationId: CreateInstrument
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OutsideInstrumentDTO"
        responses:
          '201':
            description: Returns the newly created outside instrument
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/OutsideInstrumentDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Person not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/outside_instruments/{outside_instrument_guid}":
      get:
        tags:
        - Instruments
        summary: Retrieve Instrument
        description: Retrieve an external instrument using Instrument GUID.
        operationId: GetInstrumentById
        parameters:
        - name: outside_instrument_guid
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the List of instruments
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/OutsideInstrumentDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Instrument not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      post:
        tags:
        - Instruments
        summary: Status Instrument
        description: Change the status of an external instrument using Instrument GUID.
        operationId: StatusInstrument
        parameters:
        - name: outside_instrument_guid
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StatusInstrumentRequest"
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/OutsideInstrumentDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Instrument not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/outside_instruments/{outside_instrument_guid}/verify":
      post:
        tags:
        - Instruments
        summary: Verify instrument
        description: Mark an external instrument as verified, so it may be used for
          transfers.
        operationId: VerifyInstrument
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        - name: outside_instrument_guid
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OutsideInstrumentVerifyDTO"
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/OutsideInstrumentDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Instrument not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/InteractAuth":
      post:
        tags:
        - InteractAuth
        summary: InteractAuthorization
        description: "InteractAuthorization \r\n\r\nSimulate Interact Authorization
          to get response"
        operationId: InteractAuthorization
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/InteractAuthRequest"
        responses:
          '201':
            description: Interact Auth response
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/InteractAuthResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/InteractAuth/SendMessage":
      post:
        tags:
        - InteractAuth
        summary: SendMessage
        description: "SendMessage \r\n\r\nSimulate Send Interact Message to client"
        operationId: SendMessage
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IA_Message"
        responses:
          '201':
            description: Send Message response
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/IA_Message"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/InteractAuth/InteractAuthSimulator":
      post:
        tags:
        - InteractAuth
        summary: InteractAuthSimulator
        description: "InteractAuthSimulator \r\n\r\nSimulate Send Interact Auth to client"
        operationId: InteractAuthSimulator
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IA_Auth_SimuMsg"
        responses:
          '201':
            description: Interact Auth request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/InteractAuthRequest"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/payments":
      post:
        tags:
        - Payments
        summary: Payments
        description: Schedule a payment. This endpoint can be used to create a time
          based schedule or conditional payment schedule
        operationId: Payments
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequest"
        responses:
          '201':
            description: Returns the newly scheduled payment
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/PaymentResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Program not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      get:
        tags:
        - Payments
        summary: Retrieve Payments
        description: Use this end point to retrieve or find a specific info of payments.
          start_search_date and end_search_date are UTC datetime
        operationId: GetPaymentDetails
        parameters:
        - name: wallet_guid
          in: query
          description: ''
          schema:
            type: string
            description: ''
            format: uuid
        - name: start_search_date
          in: query
          schema:
            type: string
            format: date-time
        - name: end_search_date
          in: query
          schema:
            type: string
            format: date-time
        - name: start_index
          in: query
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the PaymentInfo
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/PaymentResponseDetSearchResponse"
          '400':
            description: Bad request.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Person not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/payments/{payment_guid}":
      put:
        tags:
        - Payments
        summary: Cancel Schedule Status
        description: "This end point will allow you to cancel a payment schedule on
          the Qolo platform.\r\nOnce a payment schedule is cancelled, a new pay schedule
          needs to be created,if needed again."
        operationId: CancelPaymentSchedule
        parameters:
        - name: payment_guid
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the payment schedule details for the payment guid
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/PaymentResponseDet"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      get:
        tags:
        - Payments
        summary: Retrieve Payment
        description: Use this end point to retrieve or find a specific info of a payment.
        operationId: GetPayment
        parameters:
        - name: payment_guid
          in: path
          description: ''
          required: true
          schema:
            type: string
            description: ''
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the PaymentInfo
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/PaymentResponseDet"
          '400':
            description: Bad request.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Person not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/payments/{payment_guid}/transactions":
      get:
        tags:
        - Payments
        summary: Recurring Payment Log
        description: Use this end point to retrieve info about Recurring Payment Log.
        operationId: GetPaymentRecurringLog
        parameters:
        - name: payment_guid
          in: path
          description: ''
          required: true
          schema:
            type: string
            description: ''
            format: uuid
        - name: payment_due_date
          in: query
          schema:
            type: string
            format: date-time
        - name: start_index
          in: query
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the PaymentRecurringLogInfo
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/PaymentTransactionsResponseDetSearchResponse"
          '400':
            description: Bad request.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Person not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/persons/search":
      post:
        tags:
        - Persons
        summary: Search Persons
        description: This end point allows you to search for one or more persons, using
          a search critera. The search criteria must be included in the body of the
          request.
        operationId: SearchPerson
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PersonSearch"
        responses:
          '200':
            description: Returns the Person
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/PersonDTOSearchResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Person not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/persons/{person_guid}":
      get:
        tags:
        - Persons
        summary: Retrieve Person
        description: Use this end point to retrieve or find a specific person. The end
          point may include request for all details, or with just the account details.
        operationId: GetPersonById
        parameters:
        - name: person_guid
          in: path
          description: ''
          required: true
          schema:
            type: string
            description: ''
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the Person
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/PersonDTO"
          '400':
            description: Bad request.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Person not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/persons":
      post:
        tags:
        - Persons
        summary: Create Person
        description: This end points allow creation of new person on Qolo platform.
          A person may be a user or a company. The new person may be created with or
          without an account; and with or without a prepaid card (if allowed under the
          program). A new person's status will depend on their verification status.
          We will conduct an electronic or manual verification on the person as required
          by the program under our person creation guideline.
        operationId: CreatePerson
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatePersonRequest"
        responses:
          '201':
            description: Returns the newly created Person
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CreatePersonResponse"
          '400':
            description: Bad request.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Program not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      put:
        tags:
        - Persons
        summary: Update Person
        description: This end point will allow you to update a person information on
          the Qolo platform.
        operationId: UpdatePerson
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PersonDTO"
        responses:
          '200':
            description: Returns the updated Person
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/PersonDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/persons/personrelation":
      post:
        tags:
        - Persons
        summary: Create Person Relation
        description: Create a relationship between two person records. This is used
          for sharing accounts.
        operationId: CreatePersonRelation
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatePersonRelationRequest"
        responses:
          '201':
            description: Person Relation Created
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/CreatePersonRelationResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/persons/updatepersonrelation":
      post:
        tags:
        - Persons
        summary: Update Person Relation
        description: "Update Person Relation\r\nFields supported:\r\n<li>relationship</li>"
        operationId: UpdatePersonRelation
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UpdatePersonRelationRequest"
        responses:
          '200':
            description: Returns the updated Account
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/PersonRelation"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/persons/{person_guid}/kyc":
      get:
        tags:
        - Persons
        summary: Retrieve Person KYC
        description: Use this end point to display KYC documents
        operationId: GetKycResult
        parameters:
        - name: person_guid
          in: path
          description: person guid
          required: true
          schema:
            type: string
            description: person guid
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the KYC details for person
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/PersonVerificationResultDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Person not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
      post:
        tags:
        - Persons
        summary: Perform KYC
        description: "A person's KYC or Verification level can be set/upgraded using
          this API. \r\nThe following actions are available.\r\n<ul><li>Initiate Verification
          for an existing Person</li><li>Update Verification data or documents</li><li>Answer
          'challenge' questions for verification</li><li>Override verification level
          by Client</li></ul>"
        operationId: PerformKYC
        parameters:
        - name: person_guid
          in: path
          description: person guid
          required: true
          schema:
            type: string
            description: person guid
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VerificationRequest"
        responses:
          '200':
            description: Returns the KYC details for person
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/PersonVerificationResultDTO"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Person not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/reports/templates":
      get:
        tags:
        - Reports
        summary: Get report templates
        description: Report templates supported
        operationId: GetReportTemplates
        parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns report templates
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: string
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/reports":
      get:
        tags:
        - Reports
        summary: Request Report
        description: "<br> All report times are based on UTC time. </br>\r\n<br> The
          StatusSummary report will generate a report based on data available when the
          report is run. </br>\r\n<br> The Breakage, Dormancy, NegativeBalance, and
          EODBalanceSummary reports will use one date input.  </br>\r\n<br> If no date
          is provided, they will default to the date 2 days prior to the current date.
          </br>\r\n<br> All other reports will take 2 date inputs. </br>"
        operationId: RequestReport
        parameters:
        - name: report_name
          in: query
          description: report name
          schema:
            type: string
            description: report name
            nullable: true
        - name: program_guid
          in: query
          description: program guid
          schema:
            type: string
            description: program guid
            format: uuid
        - name: date_from
          in: query
          description: from date (optional)
          schema:
            type: string
            description: from date (optional)
            format: date-time
            nullable: true
        - name: date_to
          in: query
          description: to date (optional)
          schema:
            type: string
            description: to date (optional)
            format: date-time
            nullable: true
        - name: override_flag
          in: query
          description: override flag (optional)
          schema:
            type: string
            description: override flag (optional)
            nullable: true
        - name: version
          in: path
          required: true
          schema:
            type: string
        responses:
          '200':
            description: Returns the Report Guid
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ReportResponse"
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '404':
            description: Report name not found
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ProblemDetails"
          '500':
            description: Server Error
    "/api/{version}/reports/extended":
      post:
        tags:
        - Reports
        summary: Request Extended Report
[...]
